<div class="row align-items-center"  >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div>
        <div class="row align-items-center" >
            <div class="col description" style="margin-left: 3%;">
                <h5 style="margin-top: 10%; margin-bottom:3%;"><b>Contatti</b></h5>
                <h5>Tel:</h5> 0427 5034 8990
                <h5>Email:</h5><a href="mailto:giorgiagiorgi@mycompany.it" style="color: black;">giorgiagiorgi@mycompany.it</a> 
                <h5>Nome referente:</h5> Giorgia Giorgi
                
            </div>
            <div class="col icon " style="margin-right: 3%;">
                <h5 style="margin-bottom: 3%;margin-right: 3%;"><b>Seguici sui nostri social</b></h5>
                <a href="https://it-it.facebook.com/"><img src="../../assets/facebook.svg"></a>
                <a href="https://api.whatsapp.com/send?phone=393421640562&text=&source=&data=&app_absent="><img
                        src="../../assets/bxl-whatsapp.svg"></a>
                <a href="https://www.instagram.com/"><img src="../../assets/instagram-square.svg"></a>
                <a href="https://twitter.com/"><img src="../../assets/twitter-circle-filled.svg"></a>
                <a href="https://www.linkedin.com/"><img src="../../assets/linkedin-rect.svg"></a>

            </div>
        </div>
    </div>
</div>