.row{
    //position: fixed;
      height: 3.125rem;
      background-color: rgb(221, 216, 216);
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
      padding-bottom: 3.125rem;
      height: 30%;
      margin-top: 50px;
      height: 20%;
      margin-top: 0;
  
  }
  .icon{
    text-align: right !important;
    
  }
   
  img{
    text-align: right !important;
    width: 32px;
    margin-right: 1.25rem;
  
  }
  
  .description{
    text-align: left !important;
    color: #313030;
  
  } 
  
   
  h5{
    color: #313030;
  }
