<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <button class="navbar-toggler" tabindex="2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="center">
        <ul class="navbar-nav me-auto mb-5 mb-lg-0" style="margin-left: 32%;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="" tabindex="3" style="font-size: 30px;">Lista Parchi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="feedback" tabindex="4" style="font-size: 30px;">Feedback</a>
          </li>
          
        </ul>
      </div>
       
       
      </div>
      </div> 
  
  </nav>
  